*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) { /*  ПРЕИМУЩЕСТВО ДАННОЙ ЗАПИСИ - НУЛЕВАЯ СПЕЦИФИЧНОСТЬ СЕЛЕКТОРА, НЕ ЛОМАЮЩАЯ ПРИМЕНЕНИЕ СТИЛЕЙ   */
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

img {
    display: block; /*  ПО УМОЛЧАНИЮ ТЕГ ИЗОБРАЖЕНИЯ ЯВЛЯЕТСЯ СТРОЧНЫМ ЭЛЕМЕНТОМ    */
    max-width: 100%;
}

input,      /*  ЭТИ ТЕГИ ЕДИНСТВЕННЫЕ КОТОРЫЕ НЕ НАСЛЕДУЮТ ЗНАЧЕНИЕ ШРИФТА ПО УМОЛЧАНИЮ  */
textarea,
select,
button {
    font: inherit;
}

html {
    height: 100%;
    scroll-behavior: smooth;/* НУЖНО ДЛЯ ПЛАВНОЙ ПРОКРУТКИ САЙТА ПО ЯКОРНОЙ ССЫЛКЕ НА СТРАНИЦЕ!!*/
}

body {
    min-height: 100%;
    line-height: 1.5;/*     ПО УМОЛЧАНИЮ ЗНАЧЕНИЕ ОТ БРАУЗЕРА 1.2     */
}

/*      В ДАННОМ БЛОКЕ ОТКЛЮЧАЕТСЯ АНИМАЦИЯ И ПЕРЕХОДЫ ДЛЯ ЛЮДЕЙ, КОТОРЫЕ ПРЕДПОЧИТАЮТ ИХ НЕ ИСПОЛЬЗОВАТЬ       */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}