@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: "Heebo";
    src: url("./fonts/Heebo-woff2/Heebo-Regular.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    font-family: "Montserrat";
    src: url("./fonts/Montserrat\ woff2/") format(woff2);
}

section > p {
    font-size: xx-large;
    font-family: 'Inter';/* ЧТОБЫ ВЫБРАТЬ СЕМЕЙСТВО ШРИФТА*/
}

section > h2 {
    font-family: 'Heebo';
}

.moolish {
    font-family: 'Mulish';
    font-weight: 400;
}

body {
    font: 400 italic normal normal 16px/1.5 Montserrat, sans-serif;/* ОБОБЩЁННОЕ СВОЙСТВО ДЛЯ ПАРАМЕТРОВ ШРИФТА*/


    /*
        Если указывать по порядку:
        font-weight: 400; толщина текста
        font-style: italic; норма или курсив
        font-stretch: normal;
        font-variant: normal;
        font-size: 16px; размер шрифта
        line-height: 1.5; межстрочный интервал
        font-family: Montserrat, sans-serif; семейство шривта, если имя состоит из нескольких слов, то в кавычки
    */
}