*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) { /*  ПРЕИМУЩЕСТВО ДАННОЙ ЗАПИСИ - НУЛЕВАЯ СПЕЦИФИЧНОСТЬ СЕЛЕКТОРА, НЕ ЛОМАЮЩАЯ ПРИМЕНЕНИЕ СТИЛЕЙ   */
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

img {
    display: block; /*  ПО УМОЛЧАНИЮ ТЕГ ИЗОБРАЖЕНИЯ ЯВЛЯЕТСЯ СТРОЧНЫМ ЭЛЕМЕНТОМ    */
    max-width: 100%;
}

input,      /*  ЭТИ ТЕГИ ЕДИНСТВЕННЫЕ КОТОРЫЕ НЕ НАСЛЕДУЮТ ЗНАЧЕНИЕ ШРИФТА ПО УМОЛЧАНИЮ  */
textarea,
select,
button {
    font: inherit;
}

html {
    height: 100%;
    scroll-behavior: smooth;/* НУЖНО ДЛЯ ПЛАВНОЙ ПРОКРУТКИ САЙТА ПО ЯКОРНОЙ ССЫЛКЕ НА СТРАНИЦЕ!!*/
}

body {
    min-height: 100%;
    line-height: 1.5;/*     ПО УМОЛЧАНИЮ ЗНАЧЕНИЕ ОТ БРАУЗЕРА 1.2     */
}

/*      В ДАННОМ БЛОКЕ ОТКЛЮЧАЕТСЯ АНИМАЦИЯ И ПЕРЕХОДЫ ДЛЯ ЛЮДЕЙ, КОТОРЫЕ ПРЕДПОЧИТАЮТ ИХ НЕ ИСПОЛЬЗОВАТЬ       */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat\ woff2/") format(woff2);
}



/*START FROM HERE       START FROM HERE         START FROM HERE         START FROM HERE*/

main {
    padding-left: 40%;
    box-sizing: border-box;
}


main > [class="test"]{
    background: lightcoral url("./images/coffee.jpg") no-repeat center/300px local padding-box;
    height: 250px;
    display: block;
    width: 300px;

    /*
            background-color: lightcoral;
            background-image: url("./files/image.jpg");
            background-repeat: no-repeat/repeat-x/repeat-y/round/space;  без повторений\повторение по горизонтали\ по вертикали\ заполнить по обеим осям без пробелов\ заполнить по обеим осям с равными пробелами
            background-position: 0 0;
            background-size: 300px;
            background-attachment: fixed;
            background-clip: padding-box;
    */
}

main > [class="test"] > [class="hey"]{
    margin: 0;
    position: relative;
}

main > [class="box-1"] {
    width: 500px;
    height: 500px;
    font: 400 italic normal normal 16px/1.5 Montserrat, sans-serif;
    background-image: url("./images/island.jpg");
}

[class="box-1"] > pre {
    margin: 0;
    
}

main > [class="box-2"] {
        height: 500px;
        width: 500px;
        background-color: hsl(102 100 50 / 0.1);
}

[class="hao"]{
    color: hsl(180 100 50);
}