/*STARTING WITH CUSTOM RESET*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) { /*  ПРЕИМУЩЕСТВО ДАННОЙ ЗАПИСИ - НУЛЕВАЯ СПЕЦИФИЧНОСТЬ СЕЛЕКТОРА, НЕ ЛОМАЮЩАЯ ПРИМЕНЕНИЕ СТИЛЕЙ   */
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

img {
    display: block; /*  ПО УМОЛЧАНИЮ ТЕГ ИЗОБРАЖЕНИЯ ЯВЛЯЕТСЯ СТРОЧНЫМ ЭЛЕМЕНТОМ    */
    max-width: 100%;
}

input,      /*  ЭТИ ТЕГИ ЕДИНСТВЕННЫЕ КОТОРЫЕ НЕ НАСЛЕДУЮТ ЗНАЧЕНИЕ ШРИФТА ПО УМОЛЧАНИЮ  */
textarea,
select,
button {
    font: inherit;
}

html {
    height: 100%;
    scroll-behavior: smooth;/* НУЖНО ДЛЯ ПЛАВНОЙ ПРОКРУТКИ САЙТА ПО ЯКОРНОЙ ССЫЛКЕ НА СТРАНИЦЕ!!*/
}

body {
    min-height: 100%;
    line-height: 1.5;/*     ПО УМОЛЧАНИЮ ЗНАЧЕНИЕ ОТ БРАУЗЕРА 1.2     */
}

/*      В ДАННОМ БЛОКЕ ОТКЛЮЧАЕТСЯ АНИМАЦИЯ И ПЕРЕХОДЫ ДЛЯ ЛЮДЕЙ, КОТОРЫЕ ПРЕДПОЧИТАЮТ ИХ НЕ ИСПОЛЬЗОВАТЬ       */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*START HERE        START HERE          START HERE          START HERE          START HERE*/

h1{
    color: goldenrod;
}

[class="word-colored"] {
    color: red; /* pick a color using special words*/
}

[class="rgb-colored"] {
    color: rgb(0 255 0);
}

[class="rgb-alpha-colored"] {
    color: rgb(255 0 255 / 0.5); /* 0-255 ; / 0 - invisible, 1 - fully visible*/
}

[class="hex-colored"] {
    color: #6c3b4b;
}

[class="hex-colored-half-alpha"] {
    color: #2fc84980; /*added 4th quartet and 80 = 50% visibility*/
}

[class="hsl-colored"] {
    color: hsl(180 90% 50%);
}

[class="hsl-alpha-colored"] {
    color: hsl(267 90% 50% / 0.75);
}

.transparent-color {
    color: transparent;
}

[class="colored-border-like-text"] {
    color: hsl(90 95% 50% / 0.9);
    border: 3px solid currentColor;
}